<header>
    <img src="./assets/header.jpeg" id="header-img">
</header>
<div class="flex-container">
    <div class="news-body">
        <div class="mb-5 mx-5" id="page-lead">
            <h1 class="display-1">san diego: news now</h1>
            <p class="lead">save your articles for later, free of use</p>
        </div>

        <div class="card-columns w-75 mx-auto">
            {{#if articles}}
            {{#each articles}}
            <div class="card" id="{{this.id}}">
                <img src="{{this.image}}" alt="{{this.title}}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    <p class="card-text">{{this.summary}}</p>
                    <a href="{{this.link}}" target="_blank" class="btn btn-light">View</a>
                    <button data="{{this.id}}" class="btn btn-light btn-save">Save</button>
                </div>
            </div>
            {{/each}}
        </div>

        {{else}}
        <h1 class="display-1 text-center mt-5">Please Pull More Articles</h1>
        {{/if}}
    </div>

    <div class="alert alert-dark alert-dismissible bg-dark border-0 w-25 text-light shadow-lg mx-auto fixed-bottom"
        role="alert" style="display: none">
        <strong>Article Saved.</strong> <br>Head to Saved for access.
        <button type="button" class="btn-close close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

</div>

<script>
    document.getElementById('home-nav-link').classList.add('active');
</script>